<a href="https://colab.research.google.com/github/Wikanes-k/Project_LenLen/blob/main/missing%E0%B8%A5%E0%B8%AD%E0%B8%87.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #ส่วนของการ Import
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Work/Project + สหกิจ' #กำหนด path ของโฟลเดอร์ที่ Data อยู่

Mounted at /content/drive

In [9]:
data_OH = pd.read_csv(os.path.join(path,'missing.csv'))  
data_OH

             Date     id    imp  click
0       1/12/2022     41   59.0      2
1       2/12/2022     41   49.0      8
2       3/12/2022     41   43.0     11
3       4/12/2022     41   84.0     17
4       5/12/2022     41   58.0      2
...           ...    ...    ...    ...
12984  27/12/2022  34513  178.0      8
12985  28/12/2022  34513  160.0      5
12986  29/12/2022  34513   46.0      0
12987  30/12/2022  34513   34.0      6
12988  31/12/2022  34513   13.0      2

[12989 rows x 4 columns]

In [4]:
data_OH.isnull().any()

Date     False
id       False
imp       True
click    False
dtype: bool

##quadratic

In [5]:
quadratic = data_OH.interpolate(method = 'quadratic')

In [6]:
quadratic

             Date     id    imp  click
0       1/12/2022     41   59.0      2
1       2/12/2022     41   49.0      8
2       3/12/2022     41   43.0     11
3       4/12/2022     41   84.0     17
4       5/12/2022     41   58.0      2
...           ...    ...    ...    ...
12984  27/12/2022  34513  178.0      8
12985  28/12/2022  34513  160.0      5
12986  29/12/2022  34513   46.0      0
12987  30/12/2022  34513   34.0      6
12988  31/12/2022  34513   13.0      2

[12989 rows x 4 columns]

In [7]:
linear = data_OH.interpolate(method = 'linear')
linear

             Date     id    imp  click
0       1/12/2022     41   59.0      2
1       2/12/2022     41   49.0      8
2       3/12/2022     41   43.0     11
3       4/12/2022     41   84.0     17
4       5/12/2022     41   58.0      2
...           ...    ...    ...    ...
12984  27/12/2022  34513  178.0      8
12985  28/12/2022  34513  160.0      5
12986  29/12/2022  34513   46.0      0
12987  30/12/2022  34513   34.0      6
12988  31/12/2022  34513   13.0      2

[12989 rows x 4 columns]

##KNN

In [73]:
from sklearn.impute import KNNImputer
import pandas as pd

In [74]:
target = data_OH['imp']
features = data_OH.drop('imp', axis=1)

In [77]:
imputer = KNNImputer(n_neighbors=3)

In [78]:
imputed_features = imputer.fit_transform(features)

ValueError: ignored